$font_size: 14px;
$font_size_large: 18px;
$font_size_small: 12px;

$font_color: #333;
$font_color_link: #ff4081;

$media_width_tablet: 728px;
$media_width_mobile: 480px;

$sidebar_width: 240px;
$sidebar_transition_duration: .5s;
$sidebar_bgcolor: #fff;
$sidebar_bgcolor_active: #ccc;

// $header_height: 40px;
$header_height: 50px;
$header_bgcolor: #3b7fc4;

$input-focus-color: #26a69a;
