<div class="container">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title"><%= pagetitle %></h5>
    <ol class="breadcrumbs">
      <% breadcrumbs.forEach(function (breadcrumb, index) { %>
        <% if (index == breadcrumbs.length -1 ) { %>
          <li class="active"><%= breadcrumb.name %></li>
        <% } else { %>
          <li><a href="<%= breadcrumb.url %>"><%= breadcrumb.name %></a></li>
        <% } %>
      <% }); %>
    </ol>
  </div>
</div>
