<% layout('/layout') -%>

<div class="row">
  <section class="upcoming col s12">
    <h3>Upcoming</h3>
    <div class="upcoming">
      <h4><a href="#">Upcoming event title</a></h4>
      <div class="col-md-8 col-sm-7">
        <p class="location">Steins Beer Garden and Restaurant</p>
        <p class="event-addr"><i class="fa fa-map-marker"></i> 895 Villa Street, Mountain View, CA (<a href="#">map</a>)</p>
        <p class="event-desc">
          The deadline to register and pay online is: 2 pm  M 2/13 This event is organized by: www.idea-to-ipo.com PLEASE READ THE ENTIRE EVENT DESCRIPTION. There is a cover charge to attend this event. A "YES"  RSVP on our meetup site does not confirm your reservation. Space is limited.  Please only RSVP "Yes" if you will be ... <a href="#">READ MORE</a>
        </p>
      </div>
      <div class="event-meta col-md-4 col-sm-5">
        <p class="event-date">Friday, Feb 11 to Sunday, Feb 13</p>
        <p class="event-time">All day</p>
        <p class="left-time">3 Days left</p>
        <p class="rsvp-count">5 Members going</p>
        <div class="event-rsvp">
          <button class="btn btn-primary">RSVP</button>
        </div>
      </div>
    </div>
  </section>  
</div>

<div class="row">
  <div class="col s8">
    <!-- Upcoming Event wrapper -->

    Upcoming event zone

    <!-- End. Upcoming Event wrapper -->
  </div>

  <div class="col s4">
  <!-- Notice wrapper -->
    Notice zone
  <!-- End. Notice wrapper -->
  </div>
</div>




        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Breadcrumbs</h5>
                <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Breadcrumbs</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->
        
        <!--start container-->
        <div class="container">
          <div class="section">

            <p class="caption">Breadcrumbs are a good way to display your current location. This is usually used when you have multiple layers of content.</p>
            <div class="divider"></div>
            
            <div id="breadcrumbs" class="section">
            <div class="row section">
                <div class="col s12 m4 l3">
                  <p>Left Aligned</p>
                </div>
                <div class="col s12 m8 l9">
                 <nav>
                    <div class="nav-wrapper">
                      <div class="col s12">
                        <a href="#!" class="breadcrumb">First</a>
                        <a href="#!" class="breadcrumb">Second</a>
                        <a href="#!" class="breadcrumb">Third</a>
                      </div>
                    </div>
                  </nav>
                </div>
            </div>
            <div class="row section">
                <div class="col s12 m4 l3">
                  <p>Right Aligned</p>
                </div>
                <div class="col s12 m8 l9">
                 <nav>
                    <div class="nav-wrapper">
                      <div class="col s12 right-align">
                        <a href="#!" class="breadcrumb">First</a>
                        <a href="#!" class="breadcrumb">Second</a>
                        <a href="#!" class="breadcrumb">Third</a>
                      </div>
                    </div>
                  </nav>
                </div>
            </div>
            <div class="row section">
                <div class="col s12 m4 l3">
                  <p>Only Icons</p>
                </div>
                <div class="col s12 m8 l9">
                 <nav>
                    <div class="nav-wrapper">
                      <div class="col s12">
                        <a href="#!" class="breadcrumb"><i class="mdi-action-alarm-add"></i></a>
                        <a href="#!" class="breadcrumb"><i class="mdi-action-stars"></i></a>
                        <a href="#!" class="breadcrumb"><i class="mdi-action-language"></i></a>
                      </div>
                    </div>
                  </nav>
                </div>
            </div>
            <div class="row section">
                <div class="col s12 m4 l3">
                  <p>With Icons</p>
                </div>
                <div class="col s12 m8 l9">
                 <nav>
                    <div class="nav-wrapper">
                      <div class="col s12">
                        <a href="#!" class="breadcrumb"><i class="mdi-action-alarm-add"></i> First</a>
                        <a href="#!" class="breadcrumb"><i class="mdi-action-stars"></i> Second</a>
                        <a href="#!" class="breadcrumb"><i class="mdi-action-language"></i> Third</a>
                      </div>
                    </div>
                  </nav>
                </div>
            </div>
        </div>
            
          </div>
        <!-- Floating Action Button -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large">
              <i class="mdi-action-stars"></i>
            </a>
            <ul>
              <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
              <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
              <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
              <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
            </ul>
        </div>
        <!-- Floating Action Button -->
    </div>
    <!--end container-->    