<% layout('/layout') -%>

<div class="row content-wrap">
  <section class="col s12">
    <h3>Upcoming</h3>
    <div class="upcoming">
      <h4><a href="#">Death Valley & Bishop 3박 4일 캠핑</a></h4>
      <div class="col s12 m8">
        <p class="location">Death Valley National Park & Bishop</p>
        <p class="event-addr"><i class="material-icons">location_on</i> Death Valley National Park (<a href="https://www.google.com/maps/dir//Death+Valley+National+Park/@36.505384,-117.1144271,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x80c74b7776ae8a47:0xccc9f07c7bf2b054!2m2!1d-117.0794078!2d36.5053891!3e0" target="_map">map</a>)</p>
        <p class="event-desc">
          가장 덥고, 가장 건조하고, 가장 낮은 Death Valley National Park의 척박한 자연에서 느끼는 또다른 자연의 경외감을 감상하고, Bishop에서 사시나무의 단풍을 즐기수 있는 캠핑을 떠납니다. 날짜 –- 2017년 10월 20일 ~ 23일 
          집결 장소와 시간:
          1차 집결지 – 추후 공지 합니다.<a href="#">READ MORE</a>
        </p>
      </div>
      <div class="event-meta col m4 s12">
        <p class="event-date">Friday, Oct 20 to Monday, Oct 23</p>
        <p class="event-time">3 days</p>
        <p class="left-time">14 Days left</p>
        <p class="rsvp-count">5 Attendee (15 Members allows)</p>
        <div class="event-rsvp">
          <button class="btn btn-primary">RSVP</button>
        </div>
      </div>
    </div>

    <!-- <div class="upcoming">
      <h4><a href="#">Upcoming event title</a></h4>
      <div class="col s12 m8">
        <p class="location">Steins Beer Garden and Restaurant</p>
        <p class="event-addr"><i class="material-icons">location_on</i> 895 Villa Street, Mountain View, CA (<a href="#">map</a>)</p>
        <p class="event-desc">
          The deadline to register and pay online is: 2 pm  M 2/13 This event is organized by: www.idea-to-ipo.com PLEASE READ THE ENTIRE EVENT DESCRIPTION. There is a cover charge to attend this event. A "YES"  RSVP on our meetup site does not confirm your reservation. Space is limited.  Please only RSVP "Yes" if you will be ... <a href="#">READ MORE</a>
        </p>
      </div>
      <div class="event-meta col m4 s12">
        <p class="event-date">Friday, Feb 11 to Sunday, Feb 13</p>
        <p class="event-time">All day</p>
        <p class="left-time">3 Days left</p>
        <p class="rsvp-count">5 Members going</p>
        <div class="event-rsvp">
          <button class="btn btn-primary">RSVP</button>
        </div>
      </div>
    </div> -->
  </section>  
</div>

<div class="row content-wrap">
  <section class="col m7 s12">
    <h3>Notice</h3>
    <ul class="list">
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
      <li>
        <p class="title"><a href="#">This is title.....</a></p>
        <p class="info"><i class="tiny material-icons">chat_bubble_outline</i>3</p>
        <p class="date">2017.02.23</p>
      </li>
    </ul>
  </section>

  <section class="col m5 s12">
    <h3>Photo</h3>
    <div class="row lightbox photos">
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/1.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/1.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/2.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/2.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/3.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/3.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/4.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/4.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/5.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/5.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/6.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/6.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/7.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/7.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/8.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/8.jpg" alt="" />
        </div>
      </div>
      <div data-src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/9.jpg" class="col l4 m4 s6">
        <div class="lightbox-item">
          <img src="http://byrushan.com/projects/ma/1-7-1/jquery/light/media/gallery/9.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row content-wrap">
  <div class="col s8">
    <!-- Upcoming Event wrapper -->

    Upcoming event zone

    <!-- End. Upcoming Event wrapper -->
  </div>

  <div class="col s4">
  <!-- Notice wrapper -->
    Notice zone
  <!-- End. Notice wrapper -->
  </div>
</div>





        